 @charset "utf-8";/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,input,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,section,figure{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;}
section,header,footer,nav{display:block;margin:0;padding:0}
ol,ul{list-style:none}
blockquote,q{quotes:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
img{border:0;font-size:0}a{text-decoration:none;}
.cf:before,.cf:after{content:"";display:table}
.cf:after{clear:both}
.cf{*zoom:1}
input,select,textarea{ -webkit-background-origin:content-box;background-origin:content-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
input,button{ border-radius: 0; padding: 0;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight: normal;}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight: normal;}
h1{ font-size: 200%;}
h2{ font-size: 175%;}
h3{ font-size: 150%;}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.75em}
sub{bottom:-.25em}
a{ color: #999;}
a:hover{text-decoration:none;}
ins,a{text-decoration:none}
.left{ float: left;}
.right{ float: right;}
.text-left{ text-align: left;}
.text-right{ text-align: right;}
.text-center{ text-align: center;}


html,body{ width: 100%; height: 100%; background-color: #fff;}
body{ text-align: left; font-size: 0.4rem; line-height: 1.5; -webkit-font-smoothing: antialiased; font-family: "Noto Sans", NotoSans, "PingFangSC-Regular", sans-serif;}



/*layout*/
.h100{ height: 100%;}
.w100{ width: 100%;}
.hide{ display: none;}
.block{ display: block;}
.text-overflow,
.text-overflow-2{ overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; white-space:normal;}
.text-overflow-2{ -webkit-line-clamp: 2;}
.height-full,
.wrap-scroll{ height: 100%;}
.wrap-img{ font-size: 0; line-height: 0;}
.wrap-img img{ width: 100%;}
.flex-wrap{ -webkit-flex-wrap: wrap; flex-wrap: wrap;}
.flex,
.flex-hv-center,
.flex-v-center,
.flex-h-center,
.flex-h-right,
.flex-h-between{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.flex-v{-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.flex-1,
.flex-item{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
.flex-2{-webkit-box-flex:2;-webkit-flex:2;-ms-flex:2;flex:2;}
.flex-3{-webkit-box-flex:3;-webkit-flex:3;-ms-flex:3;flex:3;}
.flex-4{-webkit-box-flex:4;-webkit-flex:4;-ms-flex:4;flex:4;}
.flex-5{-webkit-box-flex:5;-webkit-flex:5;-ms-flex:5;flex:5;}
.flex-6{-webkit-box-flex:6;-webkit-flex:6;-ms-flex:6;flex:6;}
.flex-7{-webkit-box-flex:7;-webkit-flex:7;-ms-flex:7;flex:7;}
.flex-8{-webkit-box-flex:8;-webkit-flex:8;-ms-flex:8;flex:8;}
.flex-9{-webkit-box-flex:9;-webkit-flex:9;-ms-flex:9;flex:9;}
.flex-hv-center,
.flex-v-center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.flex-hv-center,
.flex-h-center{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
.flex-h-right{-webkit-box-pack:justify;-webkit-justify-content:flex-end;-ms-flex-pack:justify;justify-content:flex-end;}
.flex-h-between{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
.flex-v-between{ align-content: space-between;}
.pd-line{ padding: 0.12rem 0;}
.pd-b-line{ padding-bottom: 0.12rem;}
.mg-b-line{ margin-bottom: 0.12rem;}
.pd-a-culm{ padding: 0.28rem;}
.pd-t-control{ padding-top: 1.12rem;}
.mg-t-control{ margin-top: 1.12rem;}
.mg-b-culm{ margin-bottom: 0.2rem;}
.border-top{ border-top: 1px solid #e9e9e9;}
.pd-t-culm{ padding-top: 0.24rem;}
.pd-lb-culm{ padding-left: 0.24rem; padding-bottom: 0.24rem;}
.pd-b-cart-bar{ padding-bottom: 1.32rem;}
.pd-t-menu{ padding-top: 2.68rem;}
.mg-l-line{ margin-left: 0.24rem;}


/* index */
#app{ height: 100%;}

.loading-page{ height: 100%; width: 100%; position: fixed; left: 0; top: 0; background-color: #da0011;}
.loading-page.fadeOut{ }
.loading{ margin-top: -20%;}
.loading .logo{ width: 100%; text-align: center; margin-bottom: 1rem;}
.loading .logo img{ width: 3.4848485rem; margin: 0 auto;}
.loading-bar{ background-color: #b50614; position: relative; height: 0.24rem; width: 7.5rem; margin: 0 auto; border-radius: 0.12rem;}
.loading-line{ background-color: #fff; position: absolute; height: 0.26rem; border-radius:0.13rem; top: -0.01rem; left: 0;}

.main-page{ height: 100%; position: relative; z-index: 9; background-color: #fff;}
.bubbles{ padding: 0.4rem; background-color: #ececec; height: 100%;}
.bubble{ padding: 0.2rem 0;}
.bubble .avatar{ width: 0.8rem; height: 0.8rem; margin-top: 0.08rem; margin-right: 0.2rem;}
.bubble .flex-h-right .avatar{ margin-right: 0; margin-left: 0.2rem;}
.bubble .avatar img{ width: 100%; height: 100%;}
.bubble .content .msg{ font-size: 0.36rem; line-height: 1.5; border: 1px solid #ccc; padding: 0.2rem; border-radius: 0.08rem; background-color: #fff;}

@keyframes fadeOutDown {
	from {
		opacity: 1;
		height: 3.32rem
	}
	to {
		opacity: 0;
		height: 0;
	}
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		height: 0;
	}
	to {
		opacity: 1;
		height: 3.32rem;
	}
}
@keyframes fadeInRight {
	from {
		opacity: 0;
		margin-right: -8.2rem;
	}
	to {
		opacity: 1;
		margin-right: 0;
	}
}