@charset "utf-8";
/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,input,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,section,figure{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-background-origin:content-box;background-origin:content-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
section,header,footer,nav{display:block;margin:0;padding:0}
ol,ul{list-style:none}
blockquote,q{quotes:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
img{border:0;font-size:0}a{text-decoration:none;}
.cf:before,.cf:after{content:"";display:table}
.cf:after{clear:both}
.cf{*zoom:1}
input,select,textarea{ -webkit-background-origin:content-box;background-origin:content-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
input,button{ border-radius: 0; padding: 0;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight: normal;}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight: normal;}
h1{ font-size: 200%;}
h2{ font-size: 175%;}
h3{ font-size: 150%;}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.75em}
sub{bottom:-.25em}
a{ color: #999;}
a:hover{text-decoration:none;}
ins,a{text-decoration:none}
.left{ float: left;}
.right{ float: right;}
.text-left{ text-align: left;}
.text-right{ text-align: right;}
.text-center{ text-align: center;}

.animated.fast{ animation-duration: 0.2s;}
.animated.quickly{ animation-duration: 0.5s;}
.animated.normal{ animation-duration: 1s;}
.animated.slow{ animation-duration: 2s;}

html,body{ width: 100%; height: 100%; background-color: #fff;}
body{ text-align: left; font-size: 0.4rem; line-height: 1.5; -webkit-font-smoothing: antialiased; font-family: "Noto Sans", NotoSans, "PingFangSC-Regular", sans-serif;}

/*layout*/
.h100{ height: 100%;}
.w100{ width: 100%;}
.hide{ display: none;}
.block{ display: block;}
.text-overflow,
.text-overflow-2{ overflow: hidden;	display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; white-space:normal;}
.text-overflow-2{ -webkit-line-clamp: 2;}
.height-full,
.wrap-scroll{ height: 100%;}
.wrap-img{ font-size: 0; line-height: 0;}
.wrap-img img{ width: 100%;}
.flex-wrap{ -webkit-flex-wrap: wrap; flex-wrap: wrap;}
.flex,
.flex-hv-center,
.flex-v-center,
.flex-h-center,
.flex-h-right,
.flex-h-between{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.flex-v{-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.flex-1,
.flex-item{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
.flex-2{-webkit-box-flex:2;-webkit-flex:2;-ms-flex:2;flex:2;}
.flex-3{-webkit-box-flex:3;-webkit-flex:3;-ms-flex:3;flex:3;}
.flex-4{-webkit-box-flex:4;-webkit-flex:4;-ms-flex:4;flex:4;}
.flex-5{-webkit-box-flex:5;-webkit-flex:5;-ms-flex:5;flex:5;}
.flex-6{-webkit-box-flex:6;-webkit-flex:6;-ms-flex:6;flex:6;}
.flex-7{-webkit-box-flex:7;-webkit-flex:7;-ms-flex:7;flex:7;}
.flex-8{-webkit-box-flex:8;-webkit-flex:8;-ms-flex:8;flex:8;}
.flex-9{-webkit-box-flex:9;-webkit-flex:9;-ms-flex:9;flex:9;}
.flex-hv-center,
.flex-v-center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.flex-v-bottom{-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:flex-end;align-items:flex-end;}
.flex-hv-center,
.flex-h-center{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
.flex-h-right{-webkit-box-pack:justify;-webkit-justify-content:flex-end;-ms-flex-pack:justify;justify-content:flex-end;}
.flex-h-between{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
.flex-v-between{ align-content: space-between;}
.flex-s-right{ -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse;}
.pd-line{ padding: 0.12rem 0;}
.pd-b-line{ padding-bottom: 0.12rem;}
.mg-b-line{ margin-bottom: 0.12rem;}
.pd-a-culm{ padding: 0.28rem;}
.pd-t-control{ padding-top: 1.12rem;}
.mg-t-control{ margin-top: 1.12rem;}
.mg-b-culm{ margin-bottom: 0.2rem;}
.border-top{ border-top: 1px solid #e9e9e9;}
.pd-t-culm{ padding-top: 0.24rem;}
.pd-lb-culm{ padding-left: 0.24rem; padding-bottom: 0.24rem;}
.pd-b-cart-bar{ padding-bottom: 1.32rem;}
.pd-t-menu{ padding-top: 2.68rem;}
.mg-l-line{ margin-left: 0.24rem;}


/* index */
#app{ height: 100%; overflow: hidden;}
/*#app::-webkit-scrollbar { display: none; }*/

.loading-page{ height: 100%; width: 100%; position: fixed; z-index: 999; left: 0; top: 0; background-color: #db0011;}
.loading-page.fadeOut{ }
.loading{ margin-top: -30%; position: relative;}
.loading .logo{ width: 100%; height: 1.3067rem; text-align: center; margin-bottom: 1rem;}
.loading .logo.hidden{ visibility: hidden;}
.loading .logo img{ width: 100%; margin: 0 auto;}
.loading-bar{ background-color: #b50613; position: relative; height: 0.24rem; width: 7.5rem; margin: 0 auto; border-radius: 0.12rem;}
.loading-bar.hidden{ visibility: hidden;}
.loading-line{ background-color: #fff; position: absolute; height: 0.26rem; border-radius:0.13rem; top: -0.01rem; left: 0;}
.btn-loaded{ position: absolute; left: 50%; top: 0; margin-left: -1.5rem; width: 3rem; height: 3rem; color: #fff; border-radius: 100%; font-size: 0.4rem;}
.loading-page .text{ position: absolute; left: 0; bottom: 1rem;}

.main-page{ height: 100%; width: 100%; overflow: hidden; position: relative; z-index: 9; background-color: #fff;}

.message-view{ height: 100%; width: 100%; overflow: hidden;}
.view-item{ position: relative; width: 100%; height: 100%; overflow: hidden;}
.view-item .bg{ width: 100%; height: 100%;}
.pops{ height: 100%; width: 100%; position: absolute; left: 0; top: 0;}
.pops .pop{ position: absolute; z-index: 9; top: 7%;}
.pops .os{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 100; background-color: rgba(43,43,43,0.9);}
.pops .os.black{ background-color: #000;}
.pops .os.space{ background-color: transparent;}
.pops .os .wrap-img{ width: 100%;}
.pops .os.flex-hv-center .wrap-img{ margin-top: -25%;}
.pops .os.black .wrap-img{ margin-top: -25%;}

.view-item-0 .pop-0{ width: 100%;}

.view-item-1 .pop-0{ width: 46.6%; left: 14.3%;}
.view-item-1 .pop-1,
.view-item-1 .pop-3{ width: 48.6%; left: 29.3%; top: 9.175%;}
.view-item-1 .pop-2{ width: 64.2%; left: 17.2%; top: 14.96%;}
.view-item-1 .pop-4{ width: 81.9%; left: 10.3%; top: 11.2%;}
.view-item-1 .os.pop-5 .wrap-img{ }
.view-item-1 .pop-6{ width: 81.7%; left: 10.3%; top: 14.16%;}
.view-item-1 .os.pop-7 .wrap-img{ }
.view-item-1 .pop-8{ width: 48.9%; left: 23.8%; top: 9.85%;}
.view-item-1 .pop-9{ width: 73.3%; left: 13.2%; top: 13.55%;}
.view-item-1 .pop-10{ width: 64%; left: 18%; top: 13.55%;}

.view-item-2 .pop-0{ width: 51.6%; left: 45.2%; top: 2.22%;}
.view-item-2 .pop-1{ width: 54.8%; left: 33%; top: 14.62%;}

.view-item-3 .pop-0{ width: 48.2%; left: 4.6%; top: 33.71%;}
.view-item-3 .pop-1{ width: 38.6%; left: 12.1%; top: 38.52%;}
.view-item-3 .pop-2{ width: 64%; left: 5.2%; top:54.73%;}
.view-item-3 .pop-3{ width: 51.9%; left: 3.4%; top: 31.1%;}

.view-item-4 .pop-0{ width: 51.6%; left: 44.3%; top: 1.1%;}
.view-item-4 .pop-1{ width: 81.9%; left: 10.4%; top: 10.5%;}
.view-item-4 .pop-2{ width: 48.9%; left: 45.1%; top: 5.2%;}
.view-item-4 .pop-3{ width: 84.3%; left: 9.3%; top: 10.9%;}

.view-item-5{ background-color: #c43724;}
.view-item-5 .pop-0{ width: 103.3%; left: -3.3%; top: 0;}
.view-item-5 .bg{ position: relative; z-index: 999;}

.view-item-6 .pop{ width: 100%; position: static;}
.view-item-6 .bg{ background-color: #ebebeb;}

.view-item-7 .pop-0{ width: 103.3%; left: -3.3%; top: 0;}
.view-item-7 .bg{ position: relative; z-index: 999;}

@keyframes zoomInLT {
	from {
    opacity: 0;
    transform-origin: 10% 0;
    transform: scale3d(.1, .1, .1);
  }

  100% {
    opacity: 1;
    transform-origin: 10% 0;
    transform: scale3d(1, 1, 1);
  }
}

.zoomInLT {
	animation-name: zoomInLT;
}

@keyframes zoomInRT {
	from {
    opacity: 0;
    transform-origin: 90% 0;
    transform: scale3d(.1, .1, .1);
  }

  100% {
    opacity: 1;
    transform-origin: 90% 0;
    transform: scale3d(1, 1, 1);
  }
}

.zoomInRT {
	animation-name: zoomInRT;
}

@keyframes zoomInLD {
	from {
    opacity: 0;
    transform-origin: 0 100%;
    transform: scale3d(.1, .1, .1);
  }

  100% {
    opacity: 1;
    transform-origin: 0 100%;
    transform: scale3d(1, 1, 1);
  }
}

.zoomInLD {
	animation-name: zoomInLD;
}

@keyframes zoomInRD {
	from {
    opacity: 0;
    transform-origin: 90% 100%;
    transform: scale3d(.1, .1, .1);
  }

  100% {
    opacity: 1;
    transform-origin: 90% 100%;
    transform: scale3d(1, 1, 1);
  }
}

.zoomInRD {
	animation-name: zoomInRD;
}

@keyframes zoomInD {
	from {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale3d(.1, .1, .1);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 100%;
    transform: scale3d(1, 1, 1);
  }
}

.zoomInD {
	animation-name: zoomInD;
}